---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contest from '../components/Contest.astro';
import Finalists from '../components/Finalists.astro';
---

<Layout title="Dev Nightmares">
  <Hero />
  <main>
    <Contest />
    <Finalists />
  </main>
</Layout>
