<section
  id="horror-stories"
  class="w-full min-h-screen flex flex-col justify-center relative overflow-hidden"
>
  <img
    class="hidden md:block absolute top-[-25%] left-20 z-0"
    src="/svg/spider.svg"
    alt="Araña"
  />

  <img
    class="hidden md:block absolute top-[25%] left-[-15%] z-0"
    src="/svg/web.svg"
    alt="Telaraña"
  />

  <div class="p-4 md:p-0 max-w-4xl mx-auto z-10">
    <h1 class="text-primary font-jolly text-6xl text-center">
      Concurso de historias de terror
    </h1>
    <p class="font-rubik text-whiteSmoke text-center mt-6">31 Octubre 2024</p>
    <p class="font-rubik text-whiteSmoke text-center mt-6">
      ¡Participa en el concurso de historias de terror para poder ganar $500.00
      MXN en una tarjeta de amazon!
    </p>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        Historia de terror relacionada con trabajo / desarrollo de software (No
        necesariamente paranormal)
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        Que sea una historia original y no copiada de internet (Se revisará)
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        Tanto para participar como para recibir el premio en caso de ganar es
        necesario seguirme en tiktok y compartir el video del concurso por
        tiktok
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        Toda creatividad es bienvenida, no hay límite. ¡Sorpréndeme!
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        La historia debe de ser enviada a mi cuenta de tiktok{' '}
        <span class="text-primary"> por mensaje directo </span> con el asunto "Concurso
        de historias de terror - Tu nombre"
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        También puedes enviar tu historia realizando un video en tiktok contando
        tu historia.
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        La fecha límite para enviar tu historia es el 20 de octubre a las 23:59
        hrs. (Hora de la Ciudad de México)
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        El ganador será anunciado el 31 de octubre a traves de tiktok
      </p>
    </div>
    <div class="flex items-center mt-6">
      <img class="mr-4" src="/svg/tick-square.svg" alt="Elemento de lista" />
      <p class="font-rubik text-whiteSmoke">
        El concurso únicamenta aplica para personas que vivan en México(o puedan
        recibir una tarjeta de amazon México)
      </p>
    </div>
  </div>

  <img
    class="absolute md:top-[30%] md:right-[-10%] z-0"
    src="/svg/skull.svg"
    alt="Calavera"
  />
</section>
