<header
  class="absolute max-w-4xl w-full self-center p-12 md:px-0 flex justify-between items-center z-30"
>
  <a href="/" class="block">
    <h1 class="font-jolly text-whiteSmoke text-5xl">Dev Nightmares</h1>
  </a>
  <button
    id="menu-btn"
    class="text-whiteSmoke md:hidden focus:outline-none z-30"
    aria-label="Open Menu"
  >
    <svg
      id="hamburger-icon"
      class="w-8 h-8"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
    <svg
      id="close-icon"
      class="w-8 h-8 hidden"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <nav
    id="menu"
    aria-label="Main Menu"
    class="hidden absolute w-screen h-screen bg-purple top-0 left-0 z-20 justify-center items-center md:relative md:w-auto md:h-auto md:bg-transparent md:flex"
  >
    <ul class="flex flex-col md:flex-row md:space-x-6">
      <li class="mb-8 md:mb-0">
        <a
          href="/"
          class="menu-link text-2xl text-whiteSmoke hover:text-primary md:text-base"
          >Inicio</a
        >
      </li>
      <li class="md:hidden mb-8 md:mb-0">
        <a
          href="#horror-stories"
          class="menu-link text-2xl text-whiteSmoke hover:text-primary md:text-base"
          >Concurso</a
        >
      </li>
      <li class="mb-8 md:mb-0">
        <a
          href="#finalists"
          class="menu-link text-2xl text-whiteSmoke hover:text-primary md:text-base"
          >Finalistas</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="menu-link text-2xl text-whiteSmoke hover:text-primary md:text-base"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <a
    href="#horror-stories"
    class="hidden md:flex py-4 px-6 rounded-2xl bg-primary justify-center items-center hover:bg-secondary hover:text-whiteSmoke"
  >
    <p class="font-rubik">Concurso</p>
  </a>
</header>

<script>
  const menuBtn = document.getElementById('menu-btn');
  const menu = document.getElementById('menu');
  const hamburgerIcon = document.getElementById('hamburger-icon');
  const closeIcon = document.getElementById('close-icon');
  const menuLinks = document.querySelectorAll('.menu-link');
  const body = document.body;

  menuBtn?.addEventListener('click', () => {
    const isMenuHidden = menu?.classList.contains('hidden');

    menu?.classList.toggle('flex');
    menu?.classList.toggle('hidden');

    hamburgerIcon?.classList.toggle('hidden');
    closeIcon?.classList.toggle('hidden');

    if (isMenuHidden) {
      body.classList.add('overflow-hidden');
    } else {
      body.classList.remove('overflow-hidden');
    }
  });

  menuLinks.forEach((link) => {
    link.addEventListener('click', () => {
      menu?.classList.add('hidden');
      menu?.classList.remove('flex');
      hamburgerIcon?.classList.remove('hidden');
      closeIcon?.classList.add('hidden');

      body.classList.remove('overflow-hidden');
    });
  });
</script>
